doctype transitional
html
  head
    title #{title} - twitMap
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 twitMap
    .main
      block content
    .sidebar
      block sidebar
