doctype transitional
html
  include head
  body
    #main
      header
        h1 twitMap
      section#content
        aside#sidebar
          block sidebar
        article
          #map
          block content
          script.
            var map = L.map('map').setView([41.0138400, 28.9496600], 13);
      footer
        p Copyright (c) Cem Gencer

